:root {
    --color_C90000: #C90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
}

.color-C90000 {
    color: var(--color_C90000);
}

.color-7D7C7C {
    color: var(--color_7D7C7C);
}

.color-504F4F {
    color: var(--color_504F4F);
}

.color-323232 {
    color: var(--color_323232);
}

.color-FFC300 {
    color: var(--color_FFC300);
}

.color-FFF6A3 {
    color: var(--color_FFF6A3);
}

.color-E3E3E3 {
    color: var(--color_E3E3E3);
}

.color-F1F1F1 {
    color: var(--color_F1F1F1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    padding: 0.5rem;
    border-radius: 1.5rem;
}


body {
    background-color: green;
}

nav {
    height: 5rem;
}

.nav-list {
    margin-left: 2.5rem;
}

header nav .nav-btnBox .singIn-btn {
    background-color: #fff;
    border: var(--color_C90000) solid 2px;

}

header nav .nav-btnBox .logIn-btn {
    background-color: var(--color_C90000);
    color: #fff;
}


/* header styles */
.counter-btn {
    background-color: #fff;
    width: 6rem;
    padding: 0.5rem 3rem;
    border-radius: 1.5rem;
}

.up-btn {
    border-right: 1px solid var(--color_7D7C7C);
}

.down-btn {
    border-left: 1px solid var(--color_7D7C7C);
}

.delivery-btn {
    height: 4rem;
    padding: 0 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0;
}

.text1,
.text2 {
    white-space: pre-line;
}

.order-btn {
    background-color: var(--color_FFC300);
}

.img1 {
    width: 55%;
}






.container-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-areas: "header-grid-item1 header-grid-item1 . header-grid-item2 header-grid-item2 header-grid-item2 header-grid-item2";

}

.header-grid-item1 {
    grid-area: header-grid-item1;
}
.header-grid-item2 {
    grid-area: header-grid-item1;
}